In [19]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [13]:
df = next(df_iter)

In [14]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [15]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
print(df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace'))

None

In [17]:
df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

In [20]:
while True:
    try: 
        t_start = time()
        df = next(df_iter)

        df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()


        print("batch loaded, took: %.3f seconds" % (t_end - t_start))
        
    except StopIteration:
        print("Finished ingesting data into the postgres database")
        break

batch loaded, took: 268.042 seconds
batch loaded, took: 246.354 seconds
batch loaded, took: 181.120 seconds
batch loaded, took: 137.041 seconds
batch loaded, took: 161.678 seconds
batch loaded, took: 69.838 seconds
Finished ingesting data into the postgres database

In [22]:
df_iter2=pd.read_csv('taxi+_zone_lookup.csv', iterator=True, chunksize=100000)

In [23]:
df2 = next(df_iter2)

In [24]:
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [25]:
df2.head(n=0).to_sql(name='taxi_zone', con=engine, if_exists='replace')

In [26]:
df2.to_sql(name='taxi_zone', con=engine, if_exists='append')

In [28]:
while True:
    try: 
        t_start = time()

        df2 = next(df_iter2)

        df2.to_sql(name='taxi_zone', con=engine, if_exists='append')

        t_end = time()

        print("batch loaded. Took: %.3f" % (t_end - t_start))
    except StopIteration:
        print("finished ingesting data")
        break

finished ingesting data